name: zig-release

on:
  workflow_call:
    inputs:
      zig-version:
        type: string
        required: true
      package-name:
        type: string
        required: true
      package-subdir:
        type: string
        required: false
        default: ""
      buildArgs:
        type: string
        required: false
        default: "-Dtarget=x86_64-linux -Doptimize=ReleaseFast package"

# Hack for mach macos build
env:
  AGREE: true

jobs:
  zig-release:
    runs-on: [self-hosted, release]
    timeout-minutes: 10

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: build
        run: zig ${{inputs.zig-version}} build ${{inputs.buildArgs}}

      - name: rename
        run: mv zig-out/${{inputs.package-subdir}} ${{inputs.package-name}}

      - name: zip
        run: tar -czf output_archive.tar.gz ${{inputs.package-name}}

      - name: copy
        run: mkdir -p ~/ci/builds/${{inputs.package-name}} && cp output_archive.tar.gz ~/ci/builds/${{inputs.package-name}}/${{inputs.package-name}}_${{inputs.target}}.`date '+%s'`.tar.gz

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{inputs.package-name}}_${{inputs.target}}.tar.gz
          path: output_archive.tar.gz
