name: zig-verify

on:
  workflow_call:
    inputs:
      zig-version:
        type: string
        required: true
      target:
        type: string
        required: false
        default: "x86_64-linux"

jobs:
  verify-debug:
    runs-on: [self-hosted, verify]
    timeout-minutes: 10

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: build
        run: zig ${{inputs.zig-version}} build -Dtarget=${{inputs.target}} -Doptimize=Debug

      - name: test
        run: zig ${{inputs.zig-version}} build -Dtarget=${{inputs.target}} -Doptimize=Debug test

  verify-release:
    runs-on: [self-hosted, verify]
    timeout-minutes: 10

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: build
        run: zig ${{inputs.zig-version}} build -Dtarget=${{inputs.target}} -Doptimize=ReleaseFast

      - name: test
        run: zig ${{inputs.zig-version}} build -Dtarget=${{inputs.target}} -Doptimize=ReleaseFast test
